<html>
<head>
  <title> elefeed </title>
  <!-- CSS LIBS -->
  <link rel="icon" type="images/png" href="/favicon.ico" />
  <link rel="stylesheet" href="/javascripts/bower_components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="/javascripts/bower_components/mdi/css/materialdesignicons.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!--   <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>



<body ng-app="eleshare">


  <div ng-controller="NavCtrl" style="position:fixed; z-index:500; width:100%; top:-10px"> 

    <div class="card bgc-light-blue-700 tc-white-1">
      &nbsp; 
    </div>

    <div class="card bgc-light-blue-500 tc-white-1">
      <div class="toolbar">

        <div class="toolbar__img card__img--left" style="height:60px; position:absolute; top:25px; cursor:pointer;" onClick="window.location.href='/newsfeed#/home'">
          <img src="images/eleshare_logo_white.png">
        </div>
              <span class="toolbar__label fs-title" style="position:absolute; left:75px; cursor:pointer;" onClick="window.location.href='/newsfeed#/home'"> 
                  <span class="fs-display-1"> ele<b>feed</b> </span> 
              </span>

              <form id="searchForm" ng-submit="submitSearch(searchTerm)" style="position:absolute; left:25%; width:50%; float:center;" class="bgc-light-blue-400">
                <lx-search-filter model="searchTerm" filter-width="100%" placeholder="Search"></lx-search-filter>
              </form>
             
              <div class="toolbar__right" style="position:absolute; right:15px;" ng-cloak>
                  <span><a href="/newsfeed#/users/{{currentUser._id}}" class="fs-title tc-white-1"> Welcome {{::currentUser.username}} </a>!</span> &nbsp; &nbsp;

                  <!-- NOTIFICATIONS CENTER -->
                  <div ng-controller="NotificationsCtrl"> 
                  <lx-dropdown position="down" from-top="true" width="500px" position="left">

                      <button class="btn btn--m btn--icon tc-white-1" lx-ripple lx-dropdown-toggle >
                          ({{numUnread}})
                      </button>

                      <lx-dropdown-menu >
                          <ul>
                              
                              <div ng-repeat="notification in userNotifications">
                              <li><a class="dropdown-link" href="{{notification.link}}"> 
                                  <div style="overflow:auto; display:block; width:500px">
                                    <span class="tc-grey-800" ng-bind-html="notification.text"></span>
                                    <span class="tc-grey-400"> {{ notification.timeStr }} </span>
                                  </div>
                              </a></li>
                              <li class="dropdown-divider"></li>
                            </div>

                          </ul>
                        </lx-dropdown-menu>
                      </lx-dropdown>
                    </div>



                    <!-- DROPDOWN MENU -->
                    <lx-dropdown position="right" from-top="true">
                    <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                      <i class="mdi mdi-dots-vertical"></i>
                    </button>

                      <lx-dropdown-menu>
                          <ul>

                              <li><a class="dropdown-link" href="/newsfeed#/home"> Home </a></li>
                              <li><a class="dropdown-link" onClick="window.location.href='/newsfeed#/subscribedSites'"> SitesFeed </a></li>
                              <li><a class="dropdown-link" href="/newsfeed#/users/{{currentUser._id}}"> My Profile </a></li>
                              <li><a class="dropdown-link" href="/newsfeed#/settings"> Settings </a></li>
                            
                              <li class="dropdown-divider"></li>

                              <li><a class="dropdown-link" href="/logout" ng-click="logOut()">Log Out </a></li>
                          </ul>
                      </lx-dropdown-menu>
                  </lx-dropdown>


              </div> 

            </div>
          </div>

        </div>

        <div class="tc-white-1 mt++" flex-container="row" flex-gutter="0" style="position:relative; top:60px">
          <div flex-item="2"><div class="p+ bgc-grey-100"> 
          </div></div>

          <div flex-item="8"><div class="p+ bgc-grey-100 tc-grey-800">
            <ui-view></ui-view>
          </div></div>

          <div flex-item="2"><div class="p+ bgc-grey-100"> </div></div>
        </div>



        <script type="text/ng-template" id="/home.html">

          <div class="card" style="height:75px; cursor:pointer;">
            <div flex-container="row">
              <div flex-item="1" class="tc-light-blue-500 fs-headline" ng-click="toggleShareForm('clickedFromIcon')">
                <br><center>
                <i ng-hide="showShareForm" class="mdi mdi-menu-down"></i>
                <i ng-show="showShareForm" class="mdi mdi-menu-up"></i></center>
              </div>

              <div flex-item="10">
                <!--<br>
                <span class="tc-light-blue-500 fs-subhead"> 
                  <i ng-hide="showShareForm" class="mdi mdi-menu-down"></i>
                  <i ng-show="showShareForm" class="mdi mdi-menu-up"></i>
                  Share new content!
                </span>-->

                <lx-text-field label="Share a new link!" ng-click="toggleShareForm('clickedFromForm')">
                <input type="text" ng-model="link">
              </lx-text-field>
            </div>

            <div flex-item="1"></div>
          </div>
        </div>

        <div class="card">
          <div flex-container="row">
            <div flex-item="1"></div>

            <div flex-item="10">
              <form ng-submit="addPost()" ng-show="showShareForm" style="margin-top:0px;" class="tc-grey-800">
                <!--<span flex-item class="tc-grey-800">
                <lx-text-field label="Link">
                <input type="text" ng-model="link">
              </lx-text-field>
            </span>-->

            <div flex-item class="tc-grey-800">
              <lx-text-field label="Title">
              <input type="text" ng-model="title">
            </lx-text-field>
          </div>


          <!-- CATEGORIES STUFF -->
          <div flex-item>
            <lx-select ng-model="selects.selectedCategories" placeholder="Categories" choices="categoriesChoices" multiple floating-label>

            <lx-select-selected>
            {{ $selected.name }}
          </lx-select-selected>

          <lx-select-choices>
          {{ $choice.name }}
        </lx-select-choices>

      </lx-select>
    </div>
    <!-- END CATEGORIES STUFF -->

    <br>
    <button type="submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised">Post</button>
    {{error}}

    <br> &nbsp;
  </form>
</div>

<div flex-item="1"></div>
</div>
</div>

<br>

<!--<span class="fs-headline tc-light-blue-700"> {{posts.length}} posts </span>-->

<!-- CARDS -->
<!--TODO: we should sort posts in the javascript? -->

<div class="card">




</div>
<button class="btn btn--m btn--grey" lx-ripple ng-click="sort('postDateMillis')">Recent</button>
<button class="btn btn--m btn--grey" lx-ripple ng-click="sort('upvotes')">Trending</button>
 <button class="btn btn--m btn--grey" lx-ripple ng-click="sortByTopics()">My Topics</button> 
<hr></hr> 
<br>
{{settingsMessage}}
<span ng-show="isLoggedIn" ng-repeat="post in posts" class="tc-grey-800">


  <div class="card">
    <div flex-container="row">
      <div class="card__img card__img--left" style="height: 200px;">
        <!--<img ng-hide="post.scrapedData.image" src="http://qzfwq3rieno15cw5madptxpgi.wpengine.netdna-cdn.com/wp-content/uploads/happy-corgi-kitchen-500x500.jpg">-->
       <img ng-show="post.scrapedData.image" src="{{post.scrapedData.image}}"> 
      </div>

      <div flex-item flex-container="column">
        <div flex-item>
          <div class="p+">


            <!-- ARTICLE HEADING -->
            <span class="fs-headline">
              <a href="#/posts/{{post._id}}" ng-show="post.link"> {{::post.title}} </a>
              <span class="tc-deep-orange-500" ng-hide="post.link"> {{::post.title}} </span>
            </span>

            </span class="fs-subhead">
            <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{::post.author}}</a> </span> 
            <span class="tc-grey-400"> | {{::post.postDateTimeString}} </span>
          </span>

          <!-- ARTICLE TEXT -->

          <br> <span class="fs-body-2"> <b> {{:: post.scrapedData.title }} </b> </span>
          <br> <span class="fs-body-1 tc-grey-500"> {{:: post.scrapedData.text.substring(0, 375) }}...</span>
          <br> <span class="fs-body-1 tc-grey-500"> tags: {{:: post.categories[0] }} {{::post.categories[1]}} {{::post.categories[2]}}</span>
        </div>
      </div>

      <!-- CARD BUTTONS -->
      <div class="card__actions">
        <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
         ng-click="incrementUpvotes(post)">
        <i class="mdi mdi-thumb-up" ></i>   {{post.upvotes}}
        </button>
        <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)" ng-click="decrementUpvotes(post)">
        <i class="mdi mdi-thumb-up"> </i> {{post.upvotes}}
        </button>
        <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved(post)"
        ng-click="savePost(post)"> Save</button>
        <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved(post)"
        ng-click="savePost(post)"> Saved</button>
        <!--<button class="btn btn--m btn--orange btn--flat" lx-ripple><a href="#/posts/{{post._id}}"> {{post.comments.length}} comments </a></button>-->
        <button class="btn btn--m btn--orange btn--flat tc-deep-orange-500" lx-ripple ng-click="getComments(post)">{{post.comments.length}} comments</button>
      </div>

    </div>




  </div>

  <!-- COLLAPSIBLE COMMENTS HERE -->
  <div class="divider divider--dark"></div>
  <div ng-show="post.showComments" style="" >

    <div ng-repeat="comment in post.comments">
      <div class="card" style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px">
 
        <span class="tc-grey-500"> 
          <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-click="incrementCommentUpvotes(post,comment)" ng-hide="comment.isUpvoted">
              <i class="mdi mdi-thumb-up"></i> 
              {{comment.upvotes}}
        </button>
        <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-click="decrementCommentUpvotes(post,comment)" ng-show="comment.isUpvoted">
              <i class="mdi mdi-thumb-up"></i> 
              {{comment.upvotes}}
        </button>
        - by </span>


        <span class="tc-deep-orange-500"> <a href="#/users/{{comment.authorID}}">{{::comment.author}}</a> </span>
        <span class="tc-grey-400"> | {{::comment.timeStr}} </span>
        <span style="font-size:20px; margin-left:10px;">
          {{::comment.body}}
        </span>
        <span style="float:right" ng-show="comment.isMine">
          <lx-dropdown position="right" from-top="true">
            <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
              <i class="icon icon--xs icon--blue mdi mdi-pencil"></i>
            </button>

            <lx-dropdown-menu>
              <ul>
                <li><a class="dropdown-link" ng-click="deleteComment(post, comment)">Delete</a></li>
              </ul>
            </lx-dropdown-menu>
          </lx-dropdown>
        </span>
      </div>

      <!--<div class="divider divider--dark"></div>-->

    </div>


    <!-- add new comment -->
    <div class="card" style="padding-left:10px; padding-right:10px; padding-top:0px; padding-bottom:10px">
      <form ng-submit="addComment(post)">

        <lx-text-field label="comment">
          <input type="text" ng-model="post.commentBody">
        </lx-text-field>

        <button type="submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised"> add comment </button>
        {{commentError}}
      </form>
    </div>



  </div>

</div>

<br>
</span>
<!-- END CARDS -->
</script>


<script type="text/ng-template" id="/settings.html" >



    <div>
  <span class="fs-display-1 tc-deep-orange-500"> {{user.facebook.firstName}} {{user.facebook.lastName}} </span> <br>
  <span class="fs-body-1 tc-grey-800"> is subscribed to the following topics: </span> <br>

<span ng-repeat="category in categories" class="fs-title tc-grey-400">
    {{category}} |&nbsp;
  </span>
  </div>

    <br>


    <!-- SUBSCRIBE TO NEW TOPICS -->
    <div class="card" style="padding:30px">
    <span class="tc-light-blue-700 fs-title"> Subscribe to new topics </span>

  

  <form ng-submit="addNewCategories()" ng-show="isLoggedIn" style="margin-top:0px;">
    <div class="form-group">
      <tags-input ng-model="tags" style="height: 2em; width:35em" placeholder="Travel, Food, ..."> <auto-complete source="loadItems($query)" min-length="1" select-first-match="true"></auto-complete></tags-input>
      <br>
      <button type = "submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Subscribe </button> 
    </div>

    </form>
    </div> </div>
    <br>
    </div>
    <br>


    <div class="card" style="padding:30px">
    <span class="tc-light-blue-700 fs-title">Remove current topics</span>



    <div ng-repeat="category in categories" ng-show="isLoggedIn" style="margin-top:0px;">
      <div class="checkbox">
        <label><input type="checkbox" value="" ng-model="categories[category]"> {{category}} </label>
      </div>
    </div>  
<br>

    <form ng-submit = "deleteCategories()">

 
      <button type = "submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Remove </button>


    </form>
    </div>
    <br>


    </div>
    <br>

    <!-- ADD RSS FEED WEBSITES -->
    <div> 

    <span class="tc-light-blue-700 fs-title">You are currently getting feeds from these websites: </span> <br>

    <span ng-repeat="feedNoHttp in feedListNoHttp" class="fs-title tc-grey-400">
    {{feedNoHttp}} |&nbsp;
  </span>
  </div>

    <div class="card" style="padding:30px">
   
    <br>
  
    
    <span class="tc-light-blue-700 fs-title">Enter links to your favorite websites to get live feeds on eleFeed.</span>
  
     <form ng-submit="addFeed()" ng-show="isLoggedIn" style="margin-top:0px;">
      <div class="form-group">
        <tags-input ng-model="newFeedUrl" style="height: 2em; width:35em" placeholder="Add your favorite website's link"> <auto-complete source="loadItemsRss($query)" min-length="1" select-first-match="true"></auto-complete></tags-input>
        <br>
        <button type="submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Subscribe </button> 
  
    </form>

    
    <lx-dropdown over-toggle="true">
    <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dropdown-toggle>
        Remove your current  SiteFeeds
    </button>
    <lx-dropdown-menu>
        <ul>
         <div  ng-repeat="feed in feedList" list-done="layoutDone()">
      <li><a class = "dropdown-link" ng-click="chooseFeed($index)">{{feed}}</a></li> 
        <button  class="btn btn--m btn--blue btn--raised bgc-light-blue-500" lx-ripple  ng-click="removeFeed($index)">Remove Feed </button>
            </div>
        </ul>
    </lx-dropdown-menu>
</lx-dropdown>
   


   
  </div>
   
</div>
   
<br>


 <lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
          <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">


              Message from eleFeed
          </span>

          </div>
        </div>

    <span class="fs-body-1 tc-grey-800"> eleFeed allows you to get feeds from only five of your favorite webistes.  </span>
    <div class="dialog__actions">
      <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dialog-close>Okay</button>
    </div>
    </lx-dialog>

    <lx-dialog class="dialog dialog--l" id="test3" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
          <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">


              Message from eleFeed
          </span>

          </div>
        </div>
    <span class="fs-body-1 tc-grey-800"> Please enter a link that has the format www...../rss.xml or similar.
    You can find rss feed links to your favorite websites either on elefeed or by searching your favorite website name + rss.  </span>
    <div class="dialog__actions">
      <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dialog-close>Okay</button>
    </div>
    </lx-dialog>



    <!-- CHANGE EMAIL -->
    <div class="card" style="padding:30px">
    <span class="tc-light-blue-700 fs-title">Update your email</span> <br>
    <span class="fs-body-1 tc-grey-500"> Current Email: {{userEmail}} </span> <br><br>



    <br>



        <tags-input ng-model="email" style="height: 2em; width:35em" placeholder="New Email"> </tags-input>
        <button type = "submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Change </button>
        </div>
      </form>
      </div>




    </script>


<script type="text/ng-template" id="/search.html">

 <div class="card bgc-grey-100">
    <lx-tabs>
        <lx-tab heading="Posts ({{postsFound.length}})">
            
          <!--<h3 ng-show="userHasSearched"> {{postsFound.length}} post results </h3>-->

          <br>
          <!-- CARDS -->
          <!--TODO: we should sort posts in the javascript? -->
          <span ng-show="isLoggedIn" ng-repeat="post in postsFound | orderBy: '-upvotes'" class="tc-grey-800">
  
          <!--<span ng-show="isLoggedIn" ng-repeat="post in posts | orderBy:'-upvotes'" class="tc-grey-800">-->

        <br>

          <div class="card">
            <div flex-container="row">
              <div class="card__img card__img--left" style="height: 200px">
                <!--<img ng-hide="post.scrapedData.image" src="http://qzfwq3rieno15cw5madptxpgi.wpengine.netdna-cdn.com/wp-content/uploads/happy-corgi-kitchen-500x500.jpg">-->
                <img ng-show="post.scrapedData.image" src="{{post.scrapedData.image}}">
              </div>

              <div flex-item flex-container="column">
                <div flex-item>
                  <div class="p+">

                    <!-- ARTICLE HEADING -->
                    <span class="fs-headline">
                      <a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.title}} </a>
                      <span class="tc-deep-orange-500" ng-hide="post.link"> {{post.title}} </span>
                    </span>

                  </span class="fs-subhead">
                  <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a> </span> 
                  <span class="tc-grey-400"> | {{post.postDateTimeString}} </span>
                </span>

                <!-- ARTICLE TEXT -->

                <br> <span class="fs-body-2"> <b> {{ post.scrapedData.title }} </b> </span>
                <br> <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text }} </span>

              </div>
            </div>

            <!-- CARD BUTTONS -->
            <div class="card__actions">
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
              ng-click="incrementUpvotes(post)">
              <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
              <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved(post)"
              ng-click="savePost(post)"> Save</button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved(post)"
              ng-click="savePost(post)"> Saved</button>
              <button class="btn btn--m btn--orange btn--flat" lx-ripple><a href="#/posts/{{post._id}}"> {{post.comments.length}} comments </a></button>
            </div>

          </div>
        </div>
      </div>
</lx-tab>

          <lx-tab heading="Users ({{usersFound.length}})">
            
           <!--<h3 ng-show="userHasSearched"> {{usersFound.length}} user results </h3> -->

            <div ng-repeat="user in usersFound" class="fs-subhead">
     
              <h3><a href="#/users/{{user._id}}"> {{user.facebook.firstName}} {{user.facebook.lastName}} </a> </h3>
            </div>

      <br>
    </span>
    <!-- END CARDS -->

  </lx-tab>

</lx-tabs>
</div>

</script>



<script type="text/ng-template" id="/suggestedPages.html">

  <div class="data-table-container">
    <table class="data-table data-table--has-primary data-table--has-secondary">
      <tbody>



        <tr ng-repeat="cols in rows">
          <td ng-repeat></td>
          <td ng-repeat = "col in cols">
            {{col}}
          </td>
        </tr>



        <tr class= "data-table__clickable-row">
          <div class="fab ml">
            <button class="fab__primary btn btn--xl btn--indigo btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="bottom">
              <i class="mdi mdi-android"></i>
              <i class="mdi mdi-plus"></i>
            </button>

            <div class="fab__actions fab__actions--right">
              <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="bottom"><i class="mdi mdi-pencil"></i></button>
              <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="bottom"><i class="mdi mdi-package"></i></button>
              <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="bottom"><i class="mdi mdi-delete"></i></button>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</script>


<script type="text/ng-template" id="/templates/posts.ejs">

  <div>
    <span class="fs-display-1">
      <a ng-show="post.link" href="{{post.link}}" target = "external">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </span> <br>

    <span class="fs-title tc-grey-800">
      posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a>
    </span> 

    <span class="fs-body-1 tc-grey-400"> on {{post.postDateTimeString}} </span>
    <br>

    <span class="fs-body-1 tc-grey-400" ng-repeat="category in post.categories" >
      {{category}} |&nbsp;
    </span>
  </div> <br>


  <!-- CARD -->
  <span class="tc-grey-800">

    <div class="card">
      <div flex-container="row">
        <div class="card__img card__img--left" style="height: 200px">
          <a href = {{post.link}} target = "external"> <img src="{{post.scrapedData.image}}"></a>
        </div>

        <div flex-item flex-container="column">
          <div flex-item>
            <div class="p+">

              <!-- ARTICLE TEXT -->
              <span class="fs-body-1">
                <br>
                <p>
                  <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text.substring(0, 375) }}...</span>
                </p>
              </span>

            </div>
          </div>

          <!-- CARD BUTTONS -->
          <div class="card__actions">
            <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
              ng-click="incrementUpvotes(post)">
            <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
            </button>
            <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
            <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
            </button>
            <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved()"
            ng-click="savePost(post)"> Save</button>
            <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved()"
            ng-click="savePost(post)"> Saved</button>
            <button class="btn btn--m btn--black btn--flat tc-deep-orange-500" lx-ripple>{{post.comments.length}} comments </button>
          </div>

        </div>
      </div>
    </div>
  </span>
  <hr></hr>
  <!-- END CARDS -->

<div ng-repeat="comment in post.comments">
      <div class="card" style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px">
 
        <span class="tc-grey-500"> 
          <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-click="incrementCommentUpvotes(post,comment)" ng-hide="comment.isUpvoted">
              <i class="mdi mdi-thumb-up"></i> 
              {{comment.upvotes}}
        </button>
        <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-click="decrementCommentUpvotes(post,comment)" ng-show="comment.isUpvoted">
              <i class="mdi mdi-thumb-up"></i> 
              {{comment.upvotes}}
        </button>
        - by </span>

        <span class="tc-deep-orange-500"> <a href="#/users/{{comment.authorID}}">{{comment.author}}</a> </span>
        <span class="tc-grey-400"> | {{comment.timeStr}} </span>

        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
<span style="float:right" ng-show="comment.isMine">
<lx-dropdown position="right" from-top="true">
    <button class="btn btn--m btn--black btn--icon" lx-ripple lx-dropdown-toggle>
        <i class="icon icon--xs icon--blue mdi mdi-pencil"></i>
    </button>

    <lx-dropdown-menu>
        <ul>
            <li><a class="dropdown-link" ng-click="deleteComment(post, comment)">Delete</a></li>
        </ul>
    </lx-dropdown-menu>
</lx-dropdown>
</span>

      </div>

      <!--<div class="divider divider--dark"></div>-->

    </div>


   <!-- add new comment -->

      <form ng-submit="addComment(post)" ng-show="isLoggedIn()">

        <lx-text-field label="comment">
          <input type="text" ng-model="post.commentBody">
        </lx-text-field>

        <button type="submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised"> add comment </button>
        {{commentError}}
      </form>



<br>
<br>
<br>
  <span class="tc-light-blue-700 fs-title">Related Content</span>
<hr></hr>
<br>
<br>

<span ng-show="isLoggedIn" ng-repeat="post in relatedPosts" class="tc-grey-800">
<div class="card">
      <div flex-container="row">
        <div class="card__img card__img--left" style="height: 200px">
          <img src="{{post.scrapedData.image}}">
        </div>

        <div flex-item flex-container="column">
        <div flex-item>
          <div class="p+">

            <!-- ARTICLE HEADING -->
            <span class="fs-headline">
              <a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.title}} </a>
              <span class="tc-deep-orange-500" ng-hide="post.link"> {{post.title}} </span>
            </span>

          </span class="fs-subhead">
          <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a> </span> 
          <span class="tc-grey-400"> | {{post.postDateTimeString}} </span>
        </span>

        <!-- ARTICLE TEXT -->

        <br> <span class="fs-body-2"> <b> {{ post.scrapedData.title }} </b> </span>
        <br> <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text.substring(0, 375) }}...</span>
        <br> <span class="fs-body-1 tc-grey-500"> tags: {{ post.categories[0] }} {{post.categories[1]}} {{post.categories[2]}}</span>

      </div>
    </div>

          <!-- CARD BUTTONS -->
          <div class="card__actions">
            <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
              ng-click="incrementUpvotes(post)">
              <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
            </button>
            <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
              <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
            </button>
            <button class="btn btn--m btn--black btn--flat tc-deep-orange-500" lx-ripple><a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.comments.length}} comments </a></button>
          </div>

        </div>
      </div>
    </div>
</div>
<br>
<br>
</span>



<div ng-hide="isLoggedIn()">
  <br>
  <span class="tc-grey-800 fs-headline">You need to <a href="/#/login">Log In</a> before you can comment.</span>
</div>

</script>


<script type="text/ng-template" id="/register.html">
  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook login </a> <br><br>
  <form ng-submit="register()"
  style="margin-top:30px;">
  <h3>Register</h3>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Username"
    ng-model="user.username"></input>
  </div>
  <div class="form-group">
    <input type="password"
    class="form-control"
    placeholder="Password"
    ng-model="user.password"></input>
  </div>
  <hr>
  <h5>What topics are you interested in?</h5>
  <div ng-repeat="category in categories">
    <div class="checkbox">
      <label><input type="checkbox" value="" ng-model="user.categories[category]"><category> {{category}} </category></label>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
</script>

<script type="text/ng-template" id="/users.html">

  <span class="fs-display-1 tc-deep-orange-500"> 
    {{userToFollow.data.facebook.firstName}}
    {{userToFollow.data.facebook.lastName}} 
    <div ng-hide="isMyPage" ng-cloak>
      <button class="btn btn--m btn--blue btn--raised bgc-light-blue-500" lx-ripple ng-hide="isFollowing()" ng-click="followUser()" >Follow me! </button>
      <button class="btn btn--m btn--green btn--raised" lx-ripple ng-show="isFollowing()">Following</button>
    </div>
  </span> 
  <br> <br>
  <span class="fs-body-1 tc-grey-800"> is subscribed to the following catgories: </span> <br>
  <span ng-repeat="category in userToFollowCategories" class="fs-title tc-grey-400">
    {{category}} |&nbsp;
  </span> 
  <br> <br>
  
  <!-- CARDS -->
  <div ng-show="isMyPage">
      <div class="card bgc-grey-100">
        <lx-tabs>
        <lx-tab heading="My Posts ( {{userPosts.length}} )">

        <br>
        <!-- CARDS -->
        <!--TODO: we should sort posts in the javascript? -->
        <span ng-show="isLoggedIn" ng-repeat="post in userPosts" class="tc-grey-800">
          <!--<span ng-show="isLoggedIn" ng-repeat="post in posts | orderBy:'-upvotes'" class="tc-grey-800">-->

          <div class="card">
            <div flex-container="row">
              <div class="card__img card__img--left" style="height: 200px">
                <!--<img ng-hide="post.scrapedData.image" src="http://qzfwq3rieno15cw5madptxpgi.wpengine.netdna-cdn.com/wp-content/uploads/happy-corgi-kitchen-500x500.jpg">-->
                <img ng-show="post.scrapedData.image" src="{{post.scrapedData.image}}">
              </div>

              <div flex-item flex-container="column">
                <div flex-item>
                  <div class="p+">

                    <!-- ARTICLE HEADING -->
                    <span class="fs-headline">
                      <a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.title}} </a>
                      <span class="tc-deep-orange-500" ng-hide="post.link"> {{post.title}} </span>
                    </span>

                  </span class="fs-subhead">
                  <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a> </span> 
                  <span class="tc-grey-400"> | {{post.postDateTimeString}} </span>
                </span>

                <!-- ARTICLE TEXT -->

                <br> <span class="fs-body-2"> <b> {{ post.scrapedData.title }} </b> </span>
                <br> <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text }} </span>

              </div>
            </div>

            <!-- CARD BUTTONS -->
            <div class="card__actions">
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
               ng-click="incrementUpvotes(post)">
                <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
                <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved(post)"
              ng-click="savePost(post)"> Save</button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved(post)"
              ng-click="savePost(post)"> Saved</button>
              <button class="btn btn--m btn--orange btn--flat" lx-ripple><a href="#/posts/{{post._id}}"> {{post.comments.length}} comments </a></button>
              <button class="btn btn--m btn--red btn--flat tc-light-red-700" lx-ripple ng-click="deletePost(post, $index)"> Delete </button>
            </div>

          </div>
        </div>
      </div>

      <br>
    </span>
    <!-- END CARDS -->

  </lx-tab>

  <lx-tab heading="Saved Posts ( {{savedPosts.length}} )">

        <br>
        <!-- CARDS -->
        <!--TODO: we should sort posts in the javascript? -->
        <span ng-show="isLoggedIn" ng-repeat="post in savedPosts" class="tc-grey-800">
          <!--<span ng-show="isLoggedIn" ng-repeat="post in posts | orderBy:'-upvotes'" class="tc-grey-800">-->

          <div class="card">
            <div flex-container="row">
              <div class="card__img card__img--left" style="height: 200px">
                <img ng-show="post.scrapedData.image" src="{{post.scrapedData.image}}">
              </div>

              <div flex-item flex-container="column">
                <div flex-item>
                  <div class="p+">

                    <!-- ARTICLE HEADING -->
                    <span class="fs-headline">
                      <a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.title}} </a>
                      <span class="tc-deep-orange-500" ng-hide="post.link"> {{post.title}} </span>
                    </span>

                  </span class="fs-subhead">
                  <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a> </span> 
                  <span class="tc-grey-400"> | {{post.postDateTimeString}} </span>
                </span>

                <!-- ARTICLE TEXT -->

                <br> <span class="fs-body-2"> <b> {{ post.scrapedData.title }} </b> </span>
                <br> <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text }} </span>
                <br> <span class="fs-body-1 tc-grey-500"> tags: {{ post.categories[0] }} {{post.categories[1]}} {{post.categories[2]}}</span>
              </div>
            </div>

            <!-- CARD BUTTONS -->
            <div class="card__actions">
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
               ng-click="incrementUpvotes(post)">
                <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
                <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
              </button>
              <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved(post)"
              ng-click="savePost(post)"> Save</button>
              <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved(post)"
              ng-click="savePost(post)"> Saved</button>
              <button class="btn btn--m btn--orange btn--flat" lx-ripple><a href="#/posts/{{post._id}}"> {{post.comments.length}} comments </a></button>
            </div>
          </div>
        </div>
      </div>

      <br>
    </span>
    <!-- END CARDS -->

</lx-tab>

</lx-tabs>
</div>
</div>
  <div ng-hide="isMyPage">

  <span ng-show="isLoggedIn" ng-repeat="post in userPosts" class="tc-grey-800">

  <div class="card">
    <div flex-container="row">
      <div class="card__img card__img--left" style="height: 200px;">
        <img ng-show="post.scrapedData.image" src="{{post.scrapedData.image}}">
      </div>

      <div flex-item flex-container="column">
        <div flex-item>
          <div class="p+">

            <!-- ARTICLE HEADING -->
            <span class="fs-headline">
              <a href="#/posts/{{post._id}}" ng-show="post.link"> {{post.title}} </a>
              <span class="tc-deep-orange-500" ng-hide="post.link"> {{post.title}} </span>
            </span>

          </span class="fs-subhead">
          <span ng-show="post.author"> posted by <a href="#/users/{{post.authorID}}">{{post.author}}</a> </span> 
          <span class="tc-grey-400"> | {{post.postDateTimeString}} </span>
        </span>

        <!-- ARTICLE TEXT -->
        <br> <span class="fs-body-2"> <b> {{ post.scrapedData.title }} </b> </span>
        <br> <span class="fs-body-1 tc-grey-500"> {{ post.scrapedData.text.substring(0, 375) }}...</span>
        <br> <span class="fs-body-1 tc-grey-500"> tags: {{ post.categories[0] }} {{post.categories[1]}} {{post.categories[2]}}</span>
      </div>
    </div>

    <!-- CARD BUTTONS -->
    <div class="card__actions">
      <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isUpvoted(post)"
       ng-click="incrementUpvotes(post)">
        <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
      </button>
      <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isUpvoted(post)">
        <i class="mdi mdi-thumb-up" ></i> {{post.upvotes}}
      </button>
      <button class="btn btn--m btn--black btn--flat tc-light-blue-700" lx-ripple ng-hide="isSaved(post)"
      ng-click="savePost(post)"> Save</button>
      <button class="btn btn--m btn--black btn--flat tc-light-green-700" lx-ripple ng-show="isSaved(post)"
      ng-click="savePost(post)"> Saved</button>
      <button class="btn btn--m btn--orange btn--flat" lx-ripple><a href="#/posts/{{post._id}}"> {{post.comments.length}} comments </a></button>
    </div>

  </div>
</div>
</div>

<br>
</span>

  </div>
  
</script>



<script type="text/ng-template" id="/subscribedSites.html">
<div>
<span class="tc-light-blue-700 fs-title"> You are currently getting feeds from  </span> <br>
    
    <span ng-repeat="feedNoHttp in feedListNoHttp" class="fs-title tc-grey-400">
    {{feedNoHttp}} |&nbsp;
  </span>
  </div>
  <br>


  <div ng-repeat="scraped in scrapedData">
         <div class="card" >
          <div flex-container="row" style= " padding-left:10px; padding-bottom:10px; padding-top: 20px; padding-right:10px">
              <div class="card__img card__img--left" style = "height: 100px;" >
                 
                  <a href = {{scraped.link}} target = "external" > <img  src={{scraped.image}} > </a> 

              </div>

              <div flex-item flex-container="column" style="padding-left:10px; padding-bottom:10px; padding-top: 0px; padding-right:10px">
                  <div flex-item>
                     
                          <!-- ARTICLE TEXT -->
                            <br> <span class="tc-deep-orange-500"> <a href={{scraped.link}} target = "external" class="tc-deep-orange-500"> <b> {{scraped.title }} </b> </a></span>
                            <br> <span class="fs-body-1 tc-grey-700"> {{scraped.text}} </span>
                            

                     
                  </div>

              </div>
          </div>
      </div>
   <br>
   <br>      
        


</div>



</script>





<!-- Javascript libs -->

<script type="text/javascript">
  $('a[rel="external"]').attr('target', '_blank');
</script>
<script src="/javascripts/bower_components/velocity/velocity.js"></script>
<script src="/javascripts/bower_components/moment/min/moment-with-locales.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
<!-- <script src="/javascripts/lib/bootstrap.min.js"></script> -->
<!-- <script src="http://connect.facebook.net/en_US/all.js"></script> -->
<script src="/javascripts/lib/ng-tags.js"></script>
<script src="/javascripts/bower_components/lumx/dist/lumx.js"></script>
<script src="/javascripts/angularApp.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("feeds", "1");
</script>
<script src="/javascripts/hndlr.js"></script>
<!-- <script src="https://www.googleapis.com/customsearch/v1?key=AIzaSyAgYUphei_yDqsSbRYOCJJMmO-l0KAzUG8&amp;cx=017576662512468239146:omuauf_lfve&amp;q=cars&amp;callback=hndlr"> -->
<!--<script src="http://ajax.googleapis.com/ajax/services/search/web?v=1.0&q=bbc%20rss&callback=hndlr">-->

<!--<script src="http://ajax.googleapis.com/ajax/services/search/web?v=1.0&q=uk%20rss&callback=hndlr"></script> -->


<!-- Angular Controllers -->
<script src="/javascripts//controllers/MainCtrl.js"></script>
<script src="/javascripts//controllers/NavCtrl.js"></script>
<script src="/javascripts//controllers/NotificationsCtrl.js"></script>
<script src="/javascripts//controllers/PostsCtrl.js"></script>
<script src="/javascripts//controllers/AuthCtrl.js"></script>
<script src="/javascripts//controllers/SearchCtrl.js"></script>
<script src="/javascripts//controllers/UserProfileCtrl.js"></script>
<script src="/javascripts//controllers/SettingsCtrl.js"></script>
<script src="/javascripts//controllers/RssFeederCtrl.js"></script>
<script src="/javascripts//controllers/initialLandingPageCtrl.js"></script>


<!-- Angular Routing -->
<script src="/javascripts/routesApp.js"></script>
<!-- Angular Factories -->
<script src="/javascripts/factory/authFactory.js"></script>
<script src="/javascripts/factory/postFactory.js"></script>
<script src="/javascripts/factory/userFactory.js"></script>
<script src="/javascripts/factory/feedFactory.js"></script>
  <link rel="stylesheet" href="/stylesheets/lib/ng-tags.css">
  <link rel="stylesheet" href="/stylesheets/lib/ng-tags.bootstrap.css">

<!-- -->

</body>
</html>
