<html>
<head>
  <title> elefeed </title>
  <!-- CSS LIBS -->
  <link rel="stylesheet" href="/javascripts/bower_components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="/javascripts/bower_components/mdi/css/materialdesignicons.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!--   <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/lib/ng-tags.css">
  <link rel="stylesheet" href="/stylesheets/lib/ng-tags.bootstrap.css">
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>

<body ng-app="eleshare">
<!--     <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a >{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav> -->

      <div class="tc-white-1 mt++" flex-container="row" flex-gutter="0" style="position:relative; top:60px">
          <div flex-item="2"><div class="p+ bgc-grey-100"> 
          </div></div>

          <div flex-item="8"><div class="p+ bgc-grey-100 tc-grey-800">
          
          

              <div ng-controller='initialLandingPageCtrl'>
 

  <span class="fs-display-1 tc-deep-orange-500"> Welcome to elefeed!</span> <br>
  
    <!-- SUBSCRIBE TO NEW TOPICS -->
    <div class="card" style="padding:30px">
    <span class="tc-light-blue-700 fs-title"> Subscribe to new topics </span>
  

  <form ng-submit="addNewCategories()" ng-show="isLoggedIn" style="margin-top:0px;">
    <div class="form-group">
      <tags-input ng-model="tags" style="height: 2em; width:35em" placeholder="Travel, Food, Technology, ..."> <auto-complete source="loadItems($query)" min-length="1" select-first-match="true"></auto-complete></tags-input>
      <br>
      <button type = "submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Subscribe </button> 
    </div>
    </form>
    <br>
      <div>
  <span class="tc-light-blue-700 fs-title"> You are now subscribed to the following topics: </span> <br>

<span ng-repeat="category in categories" class="fs-title tc-grey-400">
    {{category}} |&nbsp;
  </span>
  </div>
    </div>

  
    
    <br>

    <!-- ADD RSS FEED WEBSITES -->
     

    <div class="card" style="padding:30px">
 
    <br>
  
    
    <span class="tc-light-blue-700 fs-title">Add RSS feeds</span>

     <form ng-submit="addFeed()" ng-show="isLoggedIn" style="margin-top:0px;">
      <div class="form-group">
        <tags-input ng-model="newFeedUrl" style="height: 2em; width:35em" placeholder="Add your favorite website's link"> <auto-complete source="loadItemsRss($query)" min-length="1" select-first-match="true"></auto-complete></tags-input>
        <br>
        <button type="submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple> Subscribe </button> 
  
    </form>
<div>
<span class="tc-light-blue-700 fs-title"> You are currently getting feed from: </span> <br>

    <span ng-repeat="feedNoHttp in feedListNoHttp" class="fs-title tc-grey-400">
    {{feedNoHttp}} |&nbsp;
  </span>
  </div>


   
  </div>
</div>
   
<br>


 



  <button type = "submit" class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" ng-click = "Done()" lx-ripple > Done</button>
<lx-dialog class="dialog dialog--l" id="test1" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
          <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">


              Message from eleFeed
          </span>

          </div>
        </div>

    <span class="fs-body-1 tc-grey-800"> eleFeed allows you to get feeds from only five of your favorite webistes.  </span>
    <div class="dialog__actions">
      <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dialog-close>Okay</button>
    </div>
    </lx-dialog>

   <lx-dialog class="dialog dialog--l" id="test3" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
          <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">


              Message from eleFeed
          </span>

          </div>
        </div>
    <span class="fs-body-1 tc-grey-800"> Please enter a link that has the format www...../rss.xml or similar.
    You can find rss feed links to your favorite websites either on elefeed or by searching your favorite website name + rss.  </span>
    <div class="dialog__actions">
      <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dialog-close>Okay</button>
    </div>
    </lx-dialog>

     <lx-dialog class="dialog dialog--l" id="test2" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
        <div class="dialog__header">
          <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">


              Message from eleFeed
          </span>

          </div>
        </div>

    <span class="fs-body-1 tc-grey-800"> eleFeed allows you to get feeds from five of your favorite websites. Please subscribe to the rss feed of at least one of those websites first before you log in. </span>
    <div class="dialog__actions">
      <button class="btn btn--m bgc-light-blue-500 tc-white-1 btn--raised" lx-ripple lx-dialog-close>Okay</button>
    </div>
    </lx-dialog>
  
   </div>

   </div></div>

          <div flex-item="2"><div class="p+ bgc-grey-100"> </div></div>
        </div>

<script src="/javascripts/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/bower_components/velocity/velocity.js"></script>
<script src="/javascripts/bower_components/moment/min/moment-with-locales.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<!-- <script src="/javascripts/lib/bootstrap.min.js"></script> -->
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="/javascripts/lib/ng-tags.js"></script>
<script src="/javascripts/bower_components/lumx/dist/lumx.js"></script>
<script src="/javascripts/angularApp.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("feeds", "1");
</script>

<!-- Angular Controllers -->
<script src="/javascripts//controllers/MainCtrl.js"></script>
<script src="/javascripts//controllers/NavCtrl.js"></script>
<script src="/javascripts//controllers/NotificationsCtrl.js"></script>
<script src="/javascripts//controllers/PostsCtrl.js"></script>
<script src="/javascripts//controllers/AuthCtrl.js"></script>
<script src="/javascripts//controllers/SearchCtrl.js"></script>
<script src="/javascripts//controllers/UserProfileCtrl.js"></script>
<script src="/javascripts//controllers/SettingsCtrl.js"></script>
<script src="/javascripts//controllers/RssFeederCtrl.js"></script>
<script src="/javascripts//controllers/initialLandingPageCtrl.js"></script>
<!-- Angular Routing -->
<script src="/javascripts/routesApp.js"></script>
<!-- Angular Factories -->
<script src="/javascripts/factory/authFactory.js"></script>
<script src="/javascripts/factory/postFactory.js"></script>
<script src="/javascripts/factory/userFactory.js"></script>
<script src="/javascripts/factory/feedFactory.js"></script>
  </body>
  </html>