
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>elefeed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts - which you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/landing/css/bootstrap.min.css">
    <link rel="stylesheet" href="/landing/css/font-awesome.min.css">
    <link rel="stylesheet" href="/landing/css/animate.css">
    <link rel="stylesheet" href="/landing/css/prettyPhoto.css">
    <link rel="stylesheet" href="/landing/css/owl.carousel.css">
    <link rel="stylesheet" href="/landing/css/main.css">
    <link rel="stylesheet" href="/landing/css/responsive.css">
    <script src="/landing/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body id="top">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade ybrowser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        <!-- NAVIGATION -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand page-scroll" href="#page-top">
                    </a>
                    <!-- END LOGO -->

                </div>

                <!-- TOGGLE NAV -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li><a class="page-scroll" href="#top">Home</a>
                        </li>
                        <li><a class="page-scroll" href="/auth/facebook">Login</a>
                        </li>
                        <li><a class="page-scroll" href="/auth/facebook">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <!-- TOGGLE NAV -->

            </div>
            <!-- /.container -->
        </nav>
        <!-- END NAVIGATION -->
    </header>

    <!-- HOME -->
    <div id="home-area">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <!-- HOME CONTENT -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="home-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                            <h1 style="text-transform:lowercase">ele<b>feed</b></h1>
                            <p style="margin:0"><strong>Share, Read, & Discover</strong>.</p><p style="margin:0">Read the best content on the web, as curated by your friends.  </p>
                            <br>
                            <br>
                            <a class="button home" onclick="window.location.href='/auth/facebook'">Sign Up</a>
                        </div>
                    </div>
                    <!-- END HOME CONTENT -->

                    <!-- HOME FEATURE IMAGE -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="home-feature pull-right center-block wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
<!--                             <img class="img-responsive" src="../../images/eleshare-mockup.jpg" alt=""> -->
                        </div>
                    </div>
                    <!-- END HOME FEATURE IMAGE -->

                </div>
            </div>
        </div>
    </div>
    <!-- END HOME -->

    <!-- SERVICES -->
    <section id="services" class="section text-center">
        <div class="container">
            <div class="row">

                <!-- SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                        <div class="service-title">
                            <i class="fa fa-share-square-o fa-3x"></i>
                        </div>
                        <div class="service-content">
                            <h3>Share</h3>
                            <p>No more need to copy paste links. Share your favorite content with our one-click chrome extension.</p>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="service-title">
                            <i class="fa fa-group fa-3x"></i>
                        </div>
                        <div class="service-content">
                            <h3>Read with Friends</h3>
                            <p>Easily find and read the best content your friends have curated & discuss.</p>
                        </div>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="service-title">
                            <i class="fa fa-bookmark fa-3x"></i>
                        </div>
                        <div class="service-content">
                            <h3>Save</h3>
                            <p>No time to read now? Save engaging content to read at a later time.</p>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->
            </div>
            <!--.row-->
        </div>
        <!--/.container -->
    </section>
    <!-- END SERVICES -->

    <!-- NEWSLETTER -->
    !
    <section id="newsletter" class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="newsletter-content wow fadeInDown" data-wow-duration="1s">
                        <h2 style="text-transform: none !important">Interested? Subscribe to receive the elefeed "best of" newsletter every week!</h2>
                    </div>
                    <div class="form-group wow fadeInUp" data-wow-duration="1s">
                        <input type="email" name="Email" class="form-control" placeholder="Your Email Address" id="email">
                        <input type="submit" name="Email" class="pull-right button newsletter" onclick="postContactToGoogle()" >
                        <h3 style="color:white"id="submitEmail"></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END NEWSLETTER -->

    

    
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">

                <!-- FOOTER MENU -->
                <div class="col-md-6">
                    <div class="footer-menu">
                        <ul class="list-inline">
                        </ul>
                    </div>
                </div>
                <!-- END FOOTER MENU -->

                <!-- FOOTER CONTENT -->
                <div class="col-md-6">
                    <div class="footer-content text-right">
                        <p>&copy; 2015 All Rights Reserved, elefeed</a>
                        </p>
                    </div>
                </div>
                <!-- END FOOTER CONTENT -->

            </div>
            <!-- /.row -->
        </div>
        <!-- ./container -->
    </footer>
    <!-- END FOOTER -->


    <!-- js files -->
    <script src="/landing/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/landing/js/plugins.js"></script>
    <script src="/landing/js/bootstrap.min.js"></script>
    <script src="/landing/js/wow.min.js"></script>
    <script src="/landing/js/prettyPhoto.js"></script>
    <script src="/landing/js/owl.carousel.min.js"></script>
    <script src="/landing/js/main.js"></script>
        <script>
        function postContactToGoogle() {
            var email = $('#email').val();

                $.ajax({
                    url: "/emails",
                    data: { "email": email,  },
                    type: "POST",
                    dataType: "xml",
                    statusCode: {
                        0: function () {
                            $('#submitEmail').html = "Success!";
                        },
                        200: function () {
                            $('#submitEmail').html = "Success!";
                        }
                    }
                });
                 $('#submitEmail').html("You're Subscribed!");
                 $('#email').val('');
        }
    </script>
</body>
