<div class="page-header">
        <h2>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h2>
        <h4>
          posted by <a href="#/users/{{post.author}}">{{post.author}}</a> 
        </h4>
        <category ng-repeat="category in post.categories" style="float:left">
         {{category}} |&nbsp; 
       </category>
     </div>

     <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}} - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()" 
    ng-show="isLoggedIn()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

  <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
  </div>