body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*background-color: #888888;*/
  /*background-color: #FFFFFF;*/
  /*background-color: #EDEBE6;*/
  background-color: #F5F5F5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.postTitle {
  color: #000000;
  font-size:24px; 
  margin-left:10px;
}

html{
  height:100%;
}

.byLine {
  color: #527E93;
}

h1 {
  /*font-weight: 300; */
  /*font-size: 24px; */
  color: #527E93;
}

h2 {
  color: #527E93;
}

h3 {
  color: #527E93;
}

h4 {
  color: #527E93;
}

h5 {
  color: #527E93;
}

a {
  /*color: #F44336; */ /*red-500*/
  color: #FF5722; /* deep-orange-500 */
  /*color: #DD7E77;*/
  text-decoration: none;

}

category {
  color: #888888;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #527E93;
  margin: 0; 
  padding: 0; 
}


/*a {
  color: #00B7FF;
}*/