<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
-->
<html ng-app="AngularChromeEx" ng-csp>
<head>
  <title>EleShare</title>




  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/ng-tags.css">
  <link rel="stylesheet" href="/css/ng-tags.bootstrap.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="stylesheet" href="/css/material.min.css">


    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
    -->
    
  </head>
  <body ng-controller="PageController">
    <header>
      <nav class="mui-appbar" role="navigation" style="background-color:#03A9F4">
        <div class="mui-container">
          <table id="appbar-inner">
            <tr class="mui-appbar-height">
              <td class="mui-align-top">
                <img style="width:50px;height:50px" src="images/eleshare_logo_white.png">
              </td>
              <td class="mui-align-bottom">
                <h2 style="color:white">eleshare</h2>
              </td>
              <td class="mui-align-bottom"></td>
              <td ng-show="isLoggedIn" class="mui-align-bottom">
                <h4 style="color:white">Welcome {{username}}!</h4>
              </td>

            </tr>
          </table>
        </div>
      </nav>
    </header>
    <div class="mui-container" ng-show="isLoggedIn">
      <legend> <h2 style="color:black"><b>{{title}}</b></h2></legend>
      <div class="mui-form-group">
        <input type="text" class="mui-form-control" placeholder="Description" ng-model="description">
      </div>
      <div class="mui-form-group">
       <tags-input ng-model="categories" placeholder="Travel, Food..."><auto-complete source="loadItems($query)" min-length="2" select-first-match="true"></auto-complete></tags-input>
     </div>
     <button ng-click="share()" style="background-color:#03A9F4" class="mui-btn mui-btn-default mui-btn-primary" ng-hide="isShared">Share!</button>
     <p>{{error}}</p>
   </form>
 </div>
 <div align="center" style="margin-top: 40px">
   <button style="background-color:#03A9F4" class="mui-btn mui-btn-primary mui-btn-raised" ng-hide="isLoggedIn" ng-click="login()">Facebook Login</button>
   <br>
   {{loginError}}
 </div>
 <script src="/js/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/angular.min.js"></script>

 <script src="popup.js"></script>
 <script src="/js/angularSide/authFactory.js"></script>
 <script src="/js/angularSide/PageController.js"></script>
 <script src="/js/ng-tags.js"></script>
 <script src="/js/material.min.js"></script>
</body>



</html>

